@import "tailwindcss";

:root {
  --bg-color: #000000;
  --text-primary: #ffffff;
  --accent-color: #FFD700;
  /* Yellow */
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-primary);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
  letter-spacing: -0.02em;
}

/* Utilities */
.text-accent {
  color: var(--accent-color);
}

.bg-accent {
  background-color: var(--accent-color);
  color: #000000;
}